@media screen and (min-width: 640px) {

    #menu-btn {
        display: none;
    }

    nav {
        display: flex; 
        flex-direction: row;
        position: static;
        width: auto;
        background: none;
    }

    nav a {
        padding: 0.5rem 1rem;
    }

    nav a:hover, nav a.active {
        background-color: #7c43bd;
        border-radius: 4px;
    }

    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
    
}